pyzbar
Pillow==10.2.0
opencv-contrib-python-headless==4.10.0.84
requests
openpyxl
pillow-heif

# AI OCR Dependencies (Deepdoc VietOCR)
torch
torchvision
numpy<2.0.0
strenum
vietocr
pycryptodomex
setuptools<70
pdfplumber
onnxruntime

zxing-cpp==3.0.0
pytesseract
pytesseract
huggingface_hub
